#wrapper{
	position: relative;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('images/header.jpg');
}

header {
	width: 1000px;
	top: 100px;
	background-image:url('images/header.jpg');
	background-repeat:no-repeat;
}

nav {
	position:absolute;
	width:1000px;
	height:100px;
	background-color:#6dc2c7;
}

article {
	position:absolute;
	top:500px;
	left:0px;
	width:1000px;
	min-height:500px;
	background-color:#6dc2c7;
}